:root {
  --background: white;
  --foreground: rgba(0, 0, 0, 0.87);
}

html.dark {
  --background: rgb(41, 37, 37);
  --foreground: white;
}

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
